@charset "UTF-8";

body {
    display: flex;
    flex-direction: column;
    color: #000;
    font-size: 20px;
    align-items: center;
}
h1 {
    display: flex;
    font-size: 30px;
    color: #ff0000;
    align-items: center;
    justify-content: center;
}
p {
    font-size: 18px;
    margin: 10px;

}
.test1{
    display: flex;
    background-color: red;
    width: 300px;
    height: 66px;
    justify-content: center;
    align-items: center;
}
span {
    display: flex;
    font-size: 24px;
    font-weight: bolder;
}