/* Associação pelo NOME DE ELEMENTO*/
h1 {
    color: #ff0000;
}

/* Associação pelo ID DO ELEMENTO*/
#tit_1 {
    font-size: 40px;
}

/* Associação pela CLASSE DO ELEMENTO*/
.noticias {
    font-family: Arial, Helvetica, sans-serif;
}
p,h1 {
    background-color: #d3d3d3;
    
    

}
.listas {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
}
.destaque {
    color: #0000ff;
}

#conteudo {
    width: 70%;
    background-color: blanchedalmond;
    float: left;
}
#menuContexto {
    width: 30%;
    background-color: lightblue;
    float: left;
}
#rodape {
    clear: both;
}
table {
    width: 100%;
}
table caption {
    font-weight: bolder;
    font-size: 30px;
}
th {
    background-color: #808080;
    color: #fff;
}
td {
    background-color: #f0ffff;
}
